@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-white: hsl(0, 0%, 100%);
    --color-yellow: hsl(47, 88%, 63%);
    --color-gray500: hsl(0, 0%, 42%);
    --color-gray950: hsl(0, 0%, 7%);
    --font-size: 14px;
    --border-radius1: 20px;
    --border-radius2: 10px;
    --main-padding: 24px;
    --card-content-padding: 12px;
    --learning-button-radius: 4px;
    --line-height: 150%;
}

html {
    font-size: var(--font-size);
    font-family: Figtree, sans-serif;
}
.card-container {
    height: 100dvh;
    width: 100%;

    background-color: var(--color-yellow);

    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: var(--color-white);

    width: 384px;
    height: 522px;

    padding: var(--main-padding);

    border-radius: var(--border-radius1);

    border: 1px solid;

    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}
.image-container{
    width: auto;
    height: 200px;

    border-radius: var(--border-radius2);
    margin-bottom: var(--main-padding);

    background-image: url(./assets/images/illustration-article.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--border-radius2);
}
/* .image-container>img {
    border-radius: inherit;
    height: inherit;
    width: inherit;
} */
.card-content{
    margin-bottom: var(--main-padding);

    color: var(--color-gray950);

    display: flex;
    flex-direction: column;
    gap: var(--card-content-padding);
}
.learning-button{
    border-radius: var(--learning-button-radius);

    background-color: var(--color-yellow);

    color: inherit;
    font-weight: 800;
    line-height: var(--line-height);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 82px;
    height: 29px;
}
.publish-date{
    font-weight: 500;
    color: inherit;
    line-height: var(--line-height);
}
.title{
    color: inherit;
    line-height: var(--line-height);
    font-size: 24px;

    transition: all .2s;
}
.description{
    line-height: var(--line-height);
    font-size: 16px;
    color: var(--color-gray500);
}
.author-container{
    color: var(--color-gray950);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: var(--card-content-padding);
}
.author-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: inherit;
    font-weight: 800;
    line-height: var(--line-height);
}

.title:hover{
    color: var(--color-yellow);
    cursor: pointer;
}

@media (max-width: 455px) {
    .card{
        width: 327px;
    }
    .image-container{
        width: 279px;
    }
    .title{
        font-size: 20px;
    }
    .learning-button{
        font-size: 12px;
    }
    .publish-date{
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .card{
        width: 300px;
    }
    .image-container{
        width: auto;
    }
    .description{
        font-size: 14px;
    }
}